.info-window {
  position: relative;
  width: 300px;
  height: 300px;
}
.shop-name {
  color: #111111;
  font-size: 14px;
  margin: 0 0 0 0;
}
.shop-adress {
  color: #333333;
  font-size: 12px;
  margin: 5px 0 10px 0;
}
.scr {
  position: absolute;
  top: 60px;
  bottom: 30px;
  height: auto; /*215pxでいい感じに*/
  overflow: auto;
}
.review {
  position: relative;
  height: auto;
  width: 300px;
  border-right: solid 1px #4d5156;
  border-bottom: solid 1px #4d5156;
  border-left: solid 1px #4d5156;
  overflow-wrap: break-word;
}
.user-name {
  position: absolute; 
  top: -25px;
}
.review-time {
  position: absolute;
  top: -25px;
  right: 0px;
}
.moji {
  color: #4d5156;
  margin: 15px 0 0 0;
}
.input {
  background-color: #f2f2f2;
  width: 87%;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  height: 25px;
}
.post {
  position: absolute;
  right: 0px;
  bottom: 0;
  border-radius: 5px;
  height: 25px;
}